.logo{
    background-image: url(./img/pattern.png);
    background-color: blue;
    height: 100px ;
     
 }
 
 #logo1{
     width: 100px;
     margin-top: 70px;
     margin-left: 30px;
 }

 h2{
    color: grey;
 }

 h3{
    font-weight: 400;
 }

 #thebooleaner{
    color: blue;
 }

mark{
    background-color: yellow;
}

thead{
    background-color: blue;
}



#titlefooter{
    color: grey;
}

.tr1{
    background-color: aqua;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.spazio{
    width: 25%;
}

#lorem{
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
   color: white;
   font-size: 20px;
   width: 240px;
  height: 150px;
}

#lorem1{
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
   color: white;
   font-size: 20px;
   width: 240px;
  height: 150px;
}