.logo{
    background-image: url(./img/pattern.png);
    background-color: blue;
    height: 100px ;
     
 }
 
 #logo1{
     width: 100px;
     margin-top: 70px;
     margin-left: 30px;
 }

 h2{
    color: grey;
 }

 #thebooleaner{
    color: blue;
 }

mark{
    background-color: yellow;
}

